# デフォルトの無視ファイル
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.industrialization-client.iml
# データソースのローカルストレージがファイルを無視しました
/../../../../../../:\UnityPF\industrialization-client\.idea\.idea.industrialization-client\.idea/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
